 <div class="row">

{{#unless bugs.length}}
<div class = col-md-4>
  <p id= "nobugserror" class = "p-3 mb-3"> no bugs have been submitted at this time</p>
  </div>
{{/unless}}

    {{#each bugs}}
      <div class="col-md-4 mb-4">

        <div class="card h-100 shadow-sm">

          <div class="card-body">
            <h5 class="card-title">{{common_name}}</h5>

            <h6 class="card-subtitle mb-2 text-muted">
              {{genus}}
            </h6>

            <p class="card-text">
              <strong>Color:</strong> {{color}} <br>
              <strong>Lat:</strong> {{latitude}} <br>
              <strong>Lng:</strong> {{longitude}}
            </p>

          </div>

        </div>

      </div>
    {{/each}}

  </div>
</div>